<div class="error-container">
    <div class="error-image">
        <img src="https://media.istockphoto.com/id/2102014217/photo/cyber-security-hack-attack-warning-concept-glowing-attention-sign-with-exclamation-mark-in.webp?a=1&b=1&s=612x612&w=0&k=20&c=SCUyBSpO7oBoXXAi3tjWbmwCiKZxhwKfzK2EG-2OR7s=" alt="Error Image">
    </div>
    <div class="error-text">
        <h1>Something Went Wrong</h1>
        <p>We're sorry, but an error occurred. Please try again later.</p>
        <a routerLink="/home">Go Back to Home Page</a>
    </div>
</div>
