<div class="container">
    <h1 style="text-align: center;">Announcements</h1><br><br>
    <div class="table-container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>S.no</th>
            <th>Title</th>
            <th>Content</th>
            <th>Published Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let announcement of paginatedAnnouncements; let i = index">
            <td>{{(currentPage - 1) * itemsPerPage + i + 1}}</td>
            <td>{{announcement.Title}}</td>
            <td>{{announcement.Content}}</td>
            <td>{{announcement.PublishedDate | date}}</td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1" class="pagination-btn">
          <i class="fas fa-chevron-left"></i> Previous
        </button>
        <span class="pagination-info">Page {{currentPage}} of {{totalPages}}</span>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages" class="pagination-btn">
          Next <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
  