<nav>
    <div class="navbar">
      <img id="image" src="https://media-hosting.imagekit.io//458570414ea44eac/Logo_dAR.png?Expires=1833885285&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=T8-LGx8a0VGFYHOPRnLhvbaZJndvnWG-hgZXndMMf5aL7Yue0FSmMrSu5ztwHVAU-3ElP8CqenQOKxue0JKsbDM-CIXbtGAJr3O0oGVjhOtDVzT-ga3EajOUD8fIhCelr-nUL-FTWMnptOxVDn2kssJhcfbMpjYVAVPROn9GNHeeOxpEEZBiyDTQu7jWP7S7iKYaMZxW3lH0QCnkzlppu6sJJAZHKiydlTYCULl8Jfw9w0G1fEQZVy0VTvrC-A7Fa4U6xbRMa7IhpauswVpf8cb5YyRpSlndpjCpqoaPgRmHkrxTZDtpUKj5uySs5RzCs6MjBae6RL82HqAdm5nGHw__" alt="">
      <div class="navbar-brand">BlogPortal</div>
      <div class="navbar-user">{{userName}}/{{userRole}}</div>
      <div class="navbar-item"><a routerLink="/home">Home</a></div>
      <div class="navbar-item">
        <span class="dropdown-text"><button>Blogs</button></span>
        <div class="dropdown-content">
          <a routerLink="/user/add/blog">Add Blog</a>
          <a routerLink="/user/view/blog/{{userId}}">View Blog</a>
        </div>
      </div>
      <div class="navbar-item"><a routerLink="/user/view/announcement">Announcements</a></div>
      <div class="navbar-item">
        <span class="dropdown-text"><button>Feedbacks</button></span>
        <div class="dropdown-content">
          <a routerLink="/user/add/feedback/{{userId}}">Add Feedback</a>
          <a routerLink="/user/view/feedback/{{userId}}">My Feedbacks</a>
        </div>
      </div>
      <div class="navbar-item" id="logout-button">
        <button (click)="openModal()">Logout</button>
      </div>
    </div>
  </nav>
  
  <!-- Confirmation Modal -->
  <div class="modal" [ngClass]="{'show': showModal}" id="confirmationModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Logout</h5>
        <span class="close" (click)="closeModal()">&times;</span>
      </div>
      <div class="modal-body">
        Are you sure you want to log out?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="confirmLogout()">Yes</button>
        <button type="button" class="btn" (click)="closeModal()">No</button>
      </div>
    </div>
  </div>
  