<div class="container mt-5">
    <h2 align="center"><b>Blog Posts</b> </h2>
<input type="text" (input)="FindAllBlogs()" [(ngModel)]="searchBlogs" placeholder="Search..">
<table class="table table-bordered">
    <thead class="thead-custom">
        <tr>
            <th>S.No</th>
            <th>Title</th>
            <th>Content</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of paginatedPosts; let i = index;">
            <td> {{i+1 + (currentPage-1)*itemsPerPage}} </td>
            <td> {{item.Title}} </td>
            <td> {{item.Content}} </td>
            <td> {{item.Status}} </td>
            <td>
                <button (click)="approvedPost(item)" class="btn btn-success" [disabled]="item.Status === 'Approved'">
                    Approve </button>
                <button (click)="cancelPost(item)" class="btn btn-danger" [disabled]="item.Status === 'Rejected'">
                    Reject </button>
            </td>
        </tr> 
    </tbody>
</table>
</div>


<div class="pagination">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1" class="pagination-btn">
        <i class="fas fa-chevron-left"></i> Previous
    </button>
    <span class="pagination-info">Page {{currentPage}} of {{totalPages}}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages" class="pagination-btn">
        Next <i class="fas fa-chevron-right"></i>
    </button>
</div>